
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <i class="fas fa-tools me-2"></i>
        MaintenanceHub
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <!-- <a class="nav-link" href="/pa">Home</a> -->
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Our Services</a>
          </li>

          <li class="nav-item">

            <a class="nav-link" href="/allJobs">Jobs</a>

          </li>
          <li class="nav-item" id="dashboardNav" >
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/ne">Sign in</a>
          </li>
         
          <li class="nav-item" id="adminNav" style="display: none">
            <a class="nav-link" href="adminDashboard.html">Admin</a>
          </li>
          <li class="nav-item" id="userControls">
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
